*
  padding: 5px

body
  padding: 50px
  font-size: responsive
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif

ul
  border-top: 2px solid black

h1, form
  font-size: 16px
  display: inline-block

input
  font-weight: bold
  vertical-align: middle
  font-size: 16px
  outline: none
  border: none
  border-bottom: 2px solid black
  margin-left: 10px

ul
  list-style-type: none

li
  margin-top: 5px
  border: 2px solid black
